@media (min-width: 0px) and (max-width: 980px) {
  #numbers > *, #operators > * { 
    width: 8.55vw;
  }
}

@media (min-width: 980px) and (max-width: 1400px){
  #numbers > *, #operators > * {
    width: 6vw;
  }
}

main {
  margin-top: 10vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#display {
  height: 30%;
  margin-bottom: 3%;
}

#display * { height: 50%; }

#numbers { 
  margin-left: 2vw;
  margin-right: -2vw;
}

#operators { margin-left: 4vw; }
